*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
div{
    z-index: 1;
}
ul{
    z-index: 10;
}
body{
    /*background-color: rgb(21, 1, 41);*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(215, 215, 215);
    background-image: url(1720161693184.jpg);
    background-size: cover;
    background-repeat:repeat;
    background-attachment:fixed;
    
}

#izbornik{
    background: #0082e6;
    height: 80px;
    width: 100%;
    
}
#izbornik .logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 50px;


}
#izbornik ul{
    float: right;
    margin-right: 20px;
}

#izbornik ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  
}

#izbornik ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
#izbornik ul li a:hover{
    background: #1b9bff;
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    text-decoration: underline;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
    #izbornik .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    #izbornik ul li a{
        font-size: 15px;
    }

}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    #izbornik ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #izbornik ul li a{
        font-size: 21px;
    }
    #izbornik ul li a:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    

}
.naslov{
    text-align: center;
    background-color: #1b3e60;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
    padding: 3px 0;
}
.naslov2{
    display: none;
    text-align: center;
    background-color: #930000;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
    padding: 3px 0;
}
.naslov3{
    text-align: center;
    background-color: #206c54;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2px;
    padding: 3px 0;
}

.naslov4{
    display: none;
    text-align: center;
    background-color: gold;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
    padding: 3px 0;
}
.natjecanje{
    text-align: center;
    color: white;
    background-color: rgb(75, 235, 75);
    margin: 12px 15px;
    cursor: pointer;
    border: 2px solid green;
    border-radius: 9px;
    padding: 7px 0;
    font-size: 27px;
    max-width: 1200px;
    margin-inline: auto;

}
.natjecanjeZuto{
    text-align: center;
    color: white;
    background-color: rgb(223, 223, 87);
    margin: 12px 15px;
    cursor: pointer;
    border: 2px solid  rgb(171, 171, 4);
    border-radius: 9px;
    padding: 7px 0;
    font-size: 27px;
    max-width: 1200px;
    margin-inline: auto;
}
.natjecanjeCrveno{
    text-align: center;
    color: white;
    background-color:  rgb(234, 94, 94);
    margin: 12px 15px;
    cursor: pointer;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 9px;
    padding: 7px 0;
    font-size: 27px;
    max-width: 1200px;
    margin-inline: auto;
}
#utrke{
    padding: 0 17px;
}
#mojtim{
    display: none;
}
#pravila{
    text-align: center;
    background-color: rgb(215, 215, 215);
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    margin-inline: auto;
    padding: 3px 0;
    max-width: 320px;
}
#zeleno{
    color: rgb(75, 235, 75);
    margin: 0 5px;
    background-color: white;
    padding: 7px 10px;
    border-radius: 7px;
    border: 3px solid rgb(75, 235, 75);
}
#žuto{
    color: rgb(171, 171, 4);
    margin: 0 5px;
    background-color: white;
    padding: 7px 10px;
    border-radius: 7px;
    border: 3px solid rgb(171, 171, 4);
}
#crveno{
    color: rgb(243, 62, 62);
    margin: 0px 5px;
    background-color: white;
    padding: 7px 10px;
    border-radius: 7px;
    border: 3px solid rgb(243, 62, 62);
}
.poljeZaNatjecatelje{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(310px, 1fr));
    
}
.poljeZaNatjecatelja{
    background-color:white;
     width: 230px;
     height: 230px;
     border-radius: 115px;
     text-align: center;
     margin: 30px 5px;
     margin-inline: auto;
     box-shadow: 14px 14px 12px rgb(109, 63, 63);
     position: relative;
     padding-bottom: 43px;
     overflow: hidden;
     border: 5px solid gold;
     cursor: pointer;
    


     
}
.slika{
    background-color: gray;
    height: 150px;
    width: 230px;
    overflow: hidden;
    padding-top: 60px;
    text-wrap: wrap;
    font-size: 25px;
    font-weight: bold;
    
}
.imeNatjecatelja{
    font-size: 23px;
    font-weight: bold;
    overflow-wrap: break-word;
    
}

#popisNatjecatelja{
    display: none;
}
#nazad{
    float: left;
    background-color: #1b9bff;
    padding: 5px;
    font-size: 23px;
}
#spremi{
    display: none;

}
#zavrijemeutrke{
    display: none;
}
#poslijeutrke{
    display: none;
}
#poredak{
    margin: 50px 42px;
}
.redak{
    
    background-color: #1b3e60;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0;
    padding: 6px;
}
.vrijednost{
    background-color: rgb(140, 34, 34);
    float: right;
    padding: 2px 4px;
}
.kojije{
    background-color: white;
    color: black;
    padding: 4px;
    margin-right: 15px;
    height: 18px;
    border-radius: 10px;
    
}
#ulogiraj{
    background-color: #1b3e60;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 4px 0;
    padding: 6px;
    margin-inline: auto;
    margin: 30px;
}
#izlogiraj{
    background-color: #1b3e60;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 4px 0;
    padding: 6px;
    margin-inline: auto;
    margin: 30px;
}
#poruka2 {
    background-color: #1b3e60;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 4px 0;
    padding: 6px;
    margin-inline: auto;
    margin: 30px;
}