* {
  user-select: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divSljedeceTrke {
  background-color: rgb(212, 0, 67);
  max-width: 100%;
  height: 16dvh;
  margin-top: 2dvh;
  display: flex;
  align-items: center;
}
.nazad {
  height: 90%;
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.2;
  font-size: 4dvh;
  cursor: pointer;
}
.napred {
  cursor: pointer;
  margin-left: auto;
  height: 90%;
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.2;
  font-size: 4dvh;
}
.mjesto {
  color: white;
  margin: 2dvh 0 auto 7dvw;
  font-size: 2dvh;
}
.podatci {
  height: 100%;
  width: 88%;
}
.imeUtrke {
  color: white;
  font-weight: bold;
  font-size: 4dvh;
  margin-left: 3dvw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.datum {
  color: white;
  font-size: 2dvh;
  margin: 1dvh 0 0 4dvw;
}
#lockout {
  color: white;
  background-color: rgb(84, 84, 84);
  opacity: 0.8;
  font-size: 2.2dvh;
  width: 85%;
  margin: 1dvh auto;
  padding: 0.7dvh 0;
  text-align: center;
  border-radius: 1dvh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#startlist {
  color: white;
  font-size: 2dvh;
  margin: 4dvh auto;

  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#podatciKorisnika,
#podatciKorisnikaW {
  display: none;
  width: 100%;
  background-color: black;
  height: 10dvh;
  margin: 0;
}
.padatak {
  text-align: center;
  line-height: 2dvh;
  height: 90%;
  margin-top: auto;
  font-weight: bold;
  width: 25%;
  padding: 0 2dvw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.imePodatka {
  color: gray;
  font-size: 1.9dvh;
}
.vrijedostPodatka {
  color: white;
  margin-top: 1dvh;
  font-size: 2dvh;
}
#tPoints,
#rPoints,
#tPointsW,
#rPointsW {
  color: rgb(0, 224, 0);
}
#poljeSaPoljima,
#poljeSaPoljimaW {
  display: none;
  margin-top: 3dvh;
  width: 100%;
  height: 85dvh;
  background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(94, 94, 94));
}
#goldR,
#silverR {
  display: flex;
  margin-bottom: 4dvh;
}
.card {
  border: 2px solid #555;
  border-radius: 12px;
  width: 37%;
  margin: auto;
  height: 23dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  position: relative;
}
.slika {
  top: 0;
  width: 100%;
  min-height: 70%;
  background-image: url("nocompetitor.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
}
.add-text {
  background-color: rgb(212, 0, 67);
  width: 100%;
  min-height: 30%;
  text-align: center;
  padding: 0.6dvh 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.7dvh;
  line-height: 2dvh;
}
.clear {
  color: white;
  font-size: 2dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0dvh auto;
  cursor: pointer;
  text-decoration: underline;
}
.back {
  color: white;
  font-weight: bold;
  background-color: rgb(255, 62, 62);
  height: 7dvh;
  width: 7dvh;
  border-radius: 3dvh;
  border: 5px solid rgb(158, 0, 0);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  margin: 0 0 auto auto;
  cursor: pointer;
}
.spremi {
  text-align: center;
  background-color: gray;
  color: white;
  font-size: 2.3dvh;
  height: 7dvh;
  width: 40dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(56, 56, 56);
  margin: 1dvh auto;
  border-radius: 1dvh;
  box-shadow: 3px 3px 10px rgb(50, 50, 50);
  cursor: pointer;
}
.spremi:hover {
  height: 7.2dvh;
  width: 40.5dvw;
}

.add-text:hover {
  background-color: #ff3399;
}
.gold-sil {
  width: 100%;
  height: 5dvh;
  background: none;
  color: white;
  align-items: center;
  padding-left: 1dvw;
  display: flex;
  margin-bottom: 1dvh;
}
#gCol {
  height: 2dvh;
  width: 10dvw;
  background: linear-gradient(to right, rgb(0, 0, 0), gold);
  margin-right: 2dvw;
}
#sCol {
  height: 2dvh;
  width: 10dvw;
  background: linear-gradient(to right, rgb(0, 0, 0), silver);
  margin-right: 2dvw;
}

.gold-silT {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2.2dvh;
}
.info {
  margin-left: 5dvw;
  font-size: 2dvh;
  height: 2.8dvh;
  width: 2.8dvh;
  border-radius: 1.4dvh;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#up-fin {
  background-color: white;
  display: flex;
  width: 55%;
  height: 4.6dvh;
  margin: 2dvh auto 0 auto;

  align-items: center;
  justify-content: center;
  border-radius: 2.3dvh;
  padding-left: 1dvw;
  padding-right: 1dvw;
}
#up-fin div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#upcoming {
  font-weight: bold;
  color: white;
  background-color: black;
  height: 85%;
  width: 50%;
  border-radius: 3dvh;
}
#finished {
  height: 85%;
  width: 50%;
  color: black;
  text-align: center;
  border-radius: 3dvh;
}
#woman {
  display: none;
}
#poruka2025 {
  color: white;
  text-align: center;
  font-size: 1.5dvh;
  margin-top: auto;
}
#loader {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scaleAndRotate 2s ease-in-out infinite;
}
#loader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
@keyframes scaleAndRotate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
#sve {
  display: none;
}
#sve {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
